* {
  box-sizing: border-box;
}

.infinite-table {
  height: 100%;
  overflow: hidden;
}

.infinite-table__columns-define {
  display: none;
}


.infinite-table__table-header {
  .infinite-table__cell {
    padding: 12px 0;
  }
}

.infinite-table__table-header, .infinite-table__body {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.infinite-table__body__wrapper {
  overflow: auto;
}

.infinite-table__cell {
  text-align: left;
  position: relative;
  vertical-align: middle;
  padding: 0;

  .cell-content {
    line-height: 24px;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 12px 10px;
    position: relative;
  }

  .cell-hover-content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #42b983;
    color: white;
    z-index: 10;
  }


}
