@import 'variables.scss';

.infinite-table {
  height: 100%;
  overflow: hidden;
  background-color: $table-background-color;
  color: $table-text-color;
  font-size: $table-font-size;
}

.infinite-table--scrollable {
  overflow-x: auto;
  overflow-y: auto;
}

.infinite-table__columns-define {
  display: none;
}

.infinite-table__table-header {
  box-sizing: border-box;
  background-color: $table-background-color;
  display: flex;
  position: relative;
  z-index: 2;
  border-bottom: $table-header-border-bottom;

  &.infinite-table__table-header--sticky {
    position: sticky;
    top: 0;
  }
}

.infinite-table__table-header, .infinite-table__body {
  width: 100%;
}

.infinite-table__row--recycle {
  position: absolute;
  will-change: transform;
  z-index: 1;

  &.invisible {
    display: none;
  }
}

.infinite-table__body {
  position: relative;
}

.infinite-table__body__wrapper {
  overflow: auto;
}

.infinite-table__cell {
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  overflow: hidden;

  &.infinite-table__cell--ellipsis {
    .cell-content {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .cell-content {
    width: 100%;
    line-height: 24px;
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    position: relative;
  }
}

.infinite-table__ellipsis-cell {
  position: absolute;
  line-height: 24px;
  background: #42b983;
  z-index: 2;
}

.infinite-table__row {
  display: flex;
  user-select: none;

  &.infinite-table__row--striped {
    background-color: #232d37;
  }

  /**
    因为css优先级的原因，hover和selected样式需要在striped下面写
   */
  &:hover, &.infinite-table__row--selected {
    background-color: $table-row-hover-color;
  }
}

