@import 'variables.scss';

.range-render {
  position: relative;

  .range-render__item {
    position: absolute;
    will-change: transform;
  }
}

.infinite-table__tooltip {
  pointer-events: none;
  z-index: 1999;
  position: absolute;
  color: white;
  background: #3c9afb;
  min-width: 150px;
  max-width: 250px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }

  .tooltip-arrow {
    color: #3c9afb;
    margin-top: 0;
    margin-bottom: 0;
  }

  &[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
  }

  &[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
  }

  .tooltip-inner {
    word-break: break-word;
  }
}

.infinite-table {
  height: 100%;
  overflow: hidden;
  background-color: $table-background-color;
  color: $table-text-color;
  font-size: $table-font-size;
  position: relative;
  outline: none;
}

.infinite-table__empty-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infinite-table--scrollable {
  overflow-x: auto;
  overflow-y: auto;
  /**
  FIXME: 开启此CSS会导致白屏问题
   */
  //will-change: transform;
}

.infinite-table__columns-define {
  display: none;
}

.infinite-table__table-header {
  box-sizing: border-box;
  background-color: $--table-row-striped-background-color--dark;
  display: flex;
  position: relative;
  z-index: 2;
  border-bottom: $table-header-border-bottom;
  user-select: none;

  .infinite-table__table-header__sortable {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
  }

  &.infinite-table__table-header--sticky {
    position: sticky;
    top: 0;
  }

  .infinite-table__cell {
    border-right: 1px solid transparent;

    &.hover {
      border-right: 1px solid white;
    }
  }
}

.infinite-table__table-header, .infinite-table__body {
  width: 100%;
}


.infinite-table__sortable {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 7px;

  &.descending {
    border-top-color: #fefefe;
    bottom: 7px;
  }

  &.ascending {
    border-bottom-color: #fefefe;
    top: 5px;
  }

  &.descending.active {
    border-top-color: $table-sortable-active;
  }

  &.ascending.active {
    border-bottom-color: $table-sortable-active;
  }
}

.infinite-table__row--recycle {
  position: absolute;
  will-change: transform;
  contain: layout;
  z-index: 1;

  &.invisible {
    display: none;
  }
}

.infinite-table__body {
  position: relative;

  .tooltip-reference {
    position: absolute;
    z-index: -99999;
    display: flex;
    align-items: center;
    pointer-events: none;
  }
}

.infinite-table__body__wrapper {
  overflow: auto;
}

.infinite-table__cell {
  box-sizing: border-box;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  overflow: hidden;
  /* 设置flex-grow和flex-shrink为0避免cell意外收缩   */
  flex: 0 0 auto;

  &.infinite-table__cell--ellipsis {
    .cell-content {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &.infinite-table__cell--pointer {
    cursor: pointer;
  }

  &.infinite-table__cell--fixed {
    position: sticky;
    background: inherit;
    z-index: 1000;
  }

  &.infinite-table__cell--resizeable {
    cursor: col-resize;
  }

  &.infinite-table__cell--selected {
    background: indianred;
  }

  .cell-content {
    width: 100%;
    line-height: 24px;
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    position: relative;
  }
}

.infinite-table__row {
  display: flex;
  user-select: none;
  background: $table-background-color;

  &.infinite-table__row--striped {
    background-color: $--table-row-striped-background-color--dark;
  }

  &.infinite-table__row--fixed {
    position: sticky;
    z-index: 1001;
    background: inherit;
  }

  /**
    因为css优先级的原因，hover和selected样式需要在striped下面写
   */
  &:hover, &.infinite-table__row--selected {
    background-color: $table-row-hover-color;
  }
}

.infinite-table__resize-indicator {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #ebeef5;
  z-index: 1002;
}

